<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.shop.newretail.goods.dao.GoodsDao">

  <select id="selectLookTop" resultType="com.feri.shop.newretail.dto.GoodsLookDto">
      select g.id,g.name,g.imgurl,gl.count from t_goods_look gl inner join t_goods g on gl.gid=g.id
      where g.flag=1
      order by gl.count,g.id desc limit 10;
  </select>

</mapper>
